In [39]:
import pandas as pd

In [40]:
df = pd.read_csv('../data/updated_product_listings.csv')

In [41]:
df.head()

,product_id,category,brand,condition,price,seller_reputation,description,suspected_fraud
0,26,Clothing,Adidas,New,75.00,4,Brand new Adidas running shorts,True
1,26,Electronics,Apple,New,1299.99,2,Brand new Apple iPhone 14 Pro with 256GB storage,False
2,26,Furniture,Joybird,used,1200.00,5,Stylish Joybird mid-century modern sofa with p...,False
3,26,Furniture,IKEA,used,350.00,4,Brand new IKEA Hemnes dresser with 6 drawers.,False
4,26,Furniture,West Elm,New,3200.00,3,Brand new West Elm mid-century dining table in...,True

In [42]:
df.seller_reputation.value_counts()

seller_reputation
3    224
5    199
4    198
1    195
2    184
Name: count, dtype: int64

In [43]:
df.suspected_fraud.value_counts()

suspected_fraud
False    700
True     300
Name: count, dtype: int64

In [44]:
df.condition.value_counts()

condition
New     600
used    400
Name: count, dtype: int64