In [1]:
import sys, os

sys.path.append(os.path.abspath(os.path.join("../scripts")))

In [2]:
root_path = os.path.abspath("..")
if root_path not in sys.path:
    sys.path.insert(0, root_path)

from data_preprocessing import DataPreprocessing

In [17]:
my_data = DataPreprocessing()
my_data.read_data("../data/processed_data/synthetic_product_listings_gpt_4o_mini.csv")

,product_id,category,brand,condition,price,seller_reputation,description,suspected_fraud,log_price
0,2,Clothing,Adidas,used,75.00,4,Brand new Adidas running shorts,True,4.330733
1,3,Electronics,Apple,used,1299.99,2,Brand new Apple iPhone 14 Pro with 256GB storage,False,7.170881
2,4,Furniture,Joybird,used,1200.00,5,Stylish Joybird mid-century modern sofa with p...,False,7.090910
3,5,Furniture,IKEA,New,350.00,4,Brand new IKEA Hemnes dresser with 6 drawers.,False,5.860786
4,6,Furniture,West Elm,New,3200.00,3,Brand new West Elm mid-century dining table in...,True,8.071219
...,...,...,...,...,...,...,...,...,...
990,996,Furniture,West Elm,used,1750.00,3,Brand new West Elm mid-century style dining ta...,False,7.467942
991,997,Electronics,LG,New,1200.00,1,Brand new LG OLED55CXPUA Alexa Built-In OLED TV,False,7.090910
992,998,Clothing,Adidas,New,75.00,5,"Brand new Adidas Ultraboost running shoes, per...",True,4.330733
993,999,Electronics,Dell,New,1200.00,3,Brand new Dell XPS 13 laptop with 16GB RAM and...,False,7.090910
994,1000,Furniture,IKEA,used,350.00,3,Brand new IKEA Hemnes dresser with 6 drawers,False,5.860786

In [18]:
my_data.data.columns

Index(['product_id', 'category', 'brand', 'condition', 'price',
       'seller_reputation', 'description', 'suspected_fraud', 'log_price'],
      dtype='object')

In [19]:
col = ["product_id", "description", "suspected_fraud"]
my_data.drop_columns(col)

        category     brand condition    price  seller_reputation  log_price
0       Clothing    Adidas      used    75.00                  4   4.330733
1    Electronics     Apple      used  1299.99                  2   7.170881
2      Furniture   Joybird      used  1200.00                  5   7.090910
3      Furniture      IKEA       New   350.00                  4   5.860786
4      Furniture  West Elm       New  3200.00                  3   8.071219
..           ...       ...       ...      ...                ...        ...
990    Furniture  West Elm      used  1750.00                  3   7.467942
991  Electronics        LG       New  1200.00                  1   7.090910
992     Clothing    Adidas       New    75.00                  5   4.330733
993  Electronics      Dell       New  1200.00                  3   7.090910
994    Furniture      IKEA      used   350.00                  3   5.860786

[995 rows x 6 columns]

In [20]:
my_data.data

        category     brand condition    price  seller_reputation  log_price
0       Clothing    Adidas      used    75.00                  4   4.330733
1    Electronics     Apple      used  1299.99                  2   7.170881
2      Furniture   Joybird      used  1200.00                  5   7.090910
3      Furniture      IKEA       New   350.00                  4   5.860786
4      Furniture  West Elm       New  3200.00                  3   8.071219
..           ...       ...       ...      ...                ...        ...
990    Furniture  West Elm      used  1750.00                  3   7.467942
991  Electronics        LG       New  1200.00                  1   7.090910
992     Clothing    Adidas       New    75.00                  5   4.330733
993  Electronics      Dell       New  1200.00                  3   7.090910
994    Furniture      IKEA      used   350.00                  3   5.860786

[995 rows x 6 columns]

In [21]:
col = ["price"]
my_data.drop_columns(col)

        category     brand condition  seller_reputation  log_price
0       Clothing    Adidas      used                  4   4.330733
1    Electronics     Apple      used                  2   7.170881
2      Furniture   Joybird      used                  5   7.090910
3      Furniture      IKEA       New                  4   5.860786
4      Furniture  West Elm       New                  3   8.071219
..           ...       ...       ...                ...        ...
990    Furniture  West Elm      used                  3   7.467942
991  Electronics        LG       New                  1   7.090910
992     Clothing    Adidas       New                  5   4.330733
993  Electronics      Dell       New                  3   7.090910
994    Furniture      IKEA      used                  3   5.860786

[995 rows x 5 columns]

In [22]:
col = ["category", "brand", "condition"]

In [23]:
my_data.label_encoding(col)

     category  brand  condition  seller_reputation  log_price
0           0      0          1                  4   4.330733
1           1      1          1                  2   7.170881
2           2     10          1                  5   7.090910
3           2      8          0                  4   5.860786
4           2     32          0                  3   8.071219
..        ...    ...        ...                ...        ...
990         2     32          1                  3   7.467942
991         1     12          0                  1   7.090910
992         0      0          0                  5   4.330733
993         1      5          0                  3   7.090910
994         2      8          1                  3   5.860786

[995 rows x 5 columns]

In [25]:
my_data.data.to_csv(
    "../data/labeled_data/synthetic_product_listings_gpt_4o_mini_encoded_labeled.csv",
    index=False,
)