In [21]:
import pandas as pd
import numpy as np

In [22]:
df = pd.read_csv('../data/updated_product_listings.csv')

In [23]:
df.head()

,product_id,category,brand,condition,price,seller_reputation,description,suspected_fraud
0,26,Clothing,Adidas,New,75.00,4,Brand new Adidas running shorts,True
1,26,Electronics,Apple,New,1299.99,2,Brand new Apple iPhone 14 Pro with 256GB storage,False
2,26,Furniture,Joybird,used,1200.00,5,Stylish Joybird mid-century modern sofa with p...,False
3,26,Furniture,IKEA,used,350.00,4,Brand new IKEA Hemnes dresser with 6 drawers.,False
4,26,Furniture,West Elm,New,3200.00,3,Brand new West Elm mid-century dining table in...,True

In [24]:
df.seller_reputation.value_counts()

seller_reputation
3    224
5    199
4    198
1    195
2    184
Name: count, dtype: int64

In [25]:
df.suspected_fraud.value_counts()

suspected_fraud
False    700
True     300
Name: count, dtype: int64

In [26]:
df.condition.value_counts()

condition
New     600
used    400
Name: count, dtype: int64

In [27]:
df.category.value_counts()

category
Furniture      383
Clothing       358
Electronics    259
Name: count, dtype: int64

In [28]:
df.condition.value_counts()

condition
New     600
used    400
Name: count, dtype: int64

In [29]:
df.head()

,product_id,category,brand,condition,price,seller_reputation,description,suspected_fraud
0,26,Clothing,Adidas,New,75.00,4,Brand new Adidas running shorts,True
1,26,Electronics,Apple,New,1299.99,2,Brand new Apple iPhone 14 Pro with 256GB storage,False
2,26,Furniture,Joybird,used,1200.00,5,Stylish Joybird mid-century modern sofa with p...,False
3,26,Furniture,IKEA,used,350.00,4,Brand new IKEA Hemnes dresser with 6 drawers.,False
4,26,Furniture,West Elm,New,3200.00,3,Brand new West Elm mid-century dining table in...,True

In [31]:
# Get existing product IDs (excluding 26)
existing_ids = set(df['product_id']) - {26}

# Find how many replacements we need
num_replacements = df['product_id'].eq(26).sum()

# Generate unique random numbers between 1 and 1000 that are not in existing_ids
new_values = set()
while len(new_values) < num_replacements:
    new_val = np.random.randint(1, 1001)
    if new_val not in existing_ids | new_values:
        new_values.add(new_val)

# Replace occurrences of 26 with unique random values
df.loc[df['product_id'] == 26, 'product_id'] = list(new_values)

# Display updated DataFrame
df.head(10)

,product_id,category,brand,condition,price,seller_reputation,description,suspected_fraud
0,2,Clothing,Adidas,New,75.00,4,Brand new Adidas running shorts,True
1,3,Electronics,Apple,New,1299.99,2,Brand new Apple iPhone 14 Pro with 256GB storage,False
2,4,Furniture,Joybird,used,1200.00,5,Stylish Joybird mid-century modern sofa with p...,False
3,5,Furniture,IKEA,used,350.00,4,Brand new IKEA Hemnes dresser with 6 drawers.,False
4,6,Furniture,West Elm,New,3200.00,3,Brand new West Elm mid-century dining table in...,True
5,7,Clothing,Adidas,used,120.00,3,Brand new Adidas Ultraboost running shoes,False
6,101,Electronics,Apple,used,1299.99,3,Brand new Apple iPhone 14 Pro with 256GB storage,False
7,8,Electronics,Apple,New,999.99,3,Brand new Apple iPhone 13 Pro with 256GB storage,False
8,9,Clothing,Adidas,used,75.00,4,Brand new Adidas UltraBoost running shoes,True
9,10,Furniture,Article,New,1450.00,5,Stylish new Article Avasan dining table with a...,True

In [32]:
df.product_id.value_counts()

product_id
101     28
1        4
2        1
677      1
664      1
        ..
342      1
343      1
344      1
345      1
1000     1
Name: count, Length: 970, dtype: int64

In [33]:
df[df['product_id'].duplicated()]

,product_id,category,brand,condition,price,seller_reputation,description,suspected_fraud
84,101,Electronics,Apple,New,1399.99,4,Brand new Apple iPhone 14 Pro Max with 256GB s...,False
106,1,Electronics,Apple,New,1299.99,5,Brand new Apple iPhone 14 Pro with 512GB storage,False
114,101,Electronics,Apple,New,1199.99,1,Brand new Apple iPhone 14 Pro with 256GB storage,False
160,1,Electronics,Apple,used,1299.99,3,Brand new Apple iPhone 13 Pro with 256GB storage,False
183,101,Electronics,Apple,used,1299.99,3,Brand new Apple iPhone 14 Pro with 256GB storage,False
187,101,Electronics,Apple,New,1299.99,4,Brand new Apple iPhone 14 Pro with 256GB storage,True
213,101,Electronics,Apple,used,1299.99,2,Brand new Apple iPhone 14 Pro with 256GB storage,False
219,101,Electronics,Apple,used,1299.99,3,Brand new Apple iPhone 14 Pro with 256GB storage,True
235,101,Electronics,Apple,used,1299.99,2,Brand new Apple iPhone 14 Pro with 256GB storage,True
251,101,Electronics,Apple,New,1299.99,5,Brand new Apple iPhone 14 Pro with 128GB storage,False
297,101,Electronics,Apple,New,1299.99,5,Brand new Apple iPhone 14 Pro with 256GB storage,False
366,101,Electronics,LG,New,1500.00,4,"Brand new LG OLED55CXPUA Alexa built-in 55"" 4K...",False
390,101,Electronics,Apple,New,1299.99,3,Brand new Apple iPhone 14 Pro with 256GB storage,True
413,101,Electronics,Apple,New,1299.99,3,Brand new Apple iPhone 14 Pro with 256GB storage,False
436,101,Electronics,Dell,used,1200.00,3,Brand new Dell XPS 13 laptop with 16GB RAM and...,False
533,101,Electronics,Apple,New,1299.99,3,Brand new Apple iPhone 14 Pro with 256GB storage,True
548,101,Electronics,Dell,New,1299.99,5,Brand new Dell XPS 13 laptop with Intel i7 pro...,False
577,101,Electronics,Apple,New,1299.99,2,Brand new Apple iPhone 14 Pro with 256GB storage,False
597,101,Electronics,Apple,New,1299.99,2,Brand new Apple iPhone 14 Pro with 256GB storage.,False
600,101,Electronics,Apple,used,1399.99,5,Brand new Apple iPhone 13 Pro Max with 256GB s...,True
612,101,Electronics,Apple,used,1299.99,4,Brand new Apple iPhone 14 Pro with 256GB storage,False
639,101,Electronics,Apple,used,1299.99,5,Brand new Apple iPhone 14 Pro with 256GB storage.,True
688,101,Electronics,Apple,New,1299.99,4,Brand new Apple iPhone 14 Pro Max with 256GB s...,True
760,101,Electronics,Dell,New,1200.00,4,Brand new Dell XPS 13 laptop with Intel i7 pro...,True
814,101,Electronics,Apple,New,1299.99,5,Brand new Apple iPhone 14 Pro with 256GB storage,False
817,101,Electronics,Apple,used,1299.99,4,Brand new Apple iPhone 14 Pro with 256GB storage,True
836,1,Electronics,Apple,New,1299.99,1,Brand new Apple iPhone 14 Pro with 256GB storage,False
854,101,Electronics,Apple,New,1299.99,1,Brand new Apple iPhone 14 Pro with 256GB storage,False
855,101,Electronics,Apple,New,1299.99,2,Brand new Apple iPhone 14 Pro with 256GB storage,False
939,101,Electronics,LG,New,1299.99,3,Brand new LG OLED55CXPUA Alexa Built-In OLED T...,False

In [34]:
df.duplicated().sum()

4

In [35]:
# Find how many replacements we need
num_replacements = df['product_id'].eq(101).sum()

# Generate unique random numbers between 1 and 1000 that are not in existing_ids
new_values = set()
while len(new_values) < num_replacements:
    new_val = np.random.randint(1, 1001)
    if new_val not in existing_ids | new_values:
        new_values.add(new_val)

# Replace occurrences of 26 with unique random values
df.loc[df['product_id'] == 101, 'product_id'] = list(new_values)

# Display updated DataFrame
df.head(10)

,product_id,category,brand,condition,price,seller_reputation,description,suspected_fraud
0,2,Clothing,Adidas,New,75.00,4,Brand new Adidas running shorts,True
1,3,Electronics,Apple,New,1299.99,2,Brand new Apple iPhone 14 Pro with 256GB storage,False
2,4,Furniture,Joybird,used,1200.00,5,Stylish Joybird mid-century modern sofa with p...,False
3,5,Furniture,IKEA,used,350.00,4,Brand new IKEA Hemnes dresser with 6 drawers.,False
4,6,Furniture,West Elm,New,3200.00,3,Brand new West Elm mid-century dining table in...,True
5,7,Clothing,Adidas,used,120.00,3,Brand new Adidas Ultraboost running shoes,False
6,258,Electronics,Apple,used,1299.99,3,Brand new Apple iPhone 14 Pro with 256GB storage,False
7,8,Electronics,Apple,New,999.99,3,Brand new Apple iPhone 13 Pro with 256GB storage,False
8,9,Clothing,Adidas,used,75.00,4,Brand new Adidas UltraBoost running shoes,True
9,10,Furniture,Article,New,1450.00,5,Stylish new Article Avasan dining table with a...,True

In [36]:
df.product_id.value_counts()

product_id
1       4
693     2
2       1
659     1
661     1
       ..
342     1
343     1
344     1
345     1
1000    1
Name: count, Length: 996, dtype: int64

In [37]:
# Find how many replacements we need
num_replacements = df['product_id'].eq(1).sum()

# Generate unique random numbers between 1 and 1000 that are not in existing_ids
new_values = set()
while len(new_values) < num_replacements:
    new_val = np.random.randint(1, 1001)
    if new_val not in existing_ids | new_values:
        new_values.add(new_val)

# Replace occurrences of 26 with unique random values
df.loc[df['product_id'] == 1, 'product_id'] = list(new_values)

# Display updated DataFrame
df.head(10)

,product_id,category,brand,condition,price,seller_reputation,description,suspected_fraud
0,2,Clothing,Adidas,New,75.00,4,Brand new Adidas running shorts,True
1,3,Electronics,Apple,New,1299.99,2,Brand new Apple iPhone 14 Pro with 256GB storage,False
2,4,Furniture,Joybird,used,1200.00,5,Stylish Joybird mid-century modern sofa with p...,False
3,5,Furniture,IKEA,used,350.00,4,Brand new IKEA Hemnes dresser with 6 drawers.,False
4,6,Furniture,West Elm,New,3200.00,3,Brand new West Elm mid-century dining table in...,True
5,7,Clothing,Adidas,used,120.00,3,Brand new Adidas Ultraboost running shoes,False
6,258,Electronics,Apple,used,1299.99,3,Brand new Apple iPhone 14 Pro with 256GB storage,False
7,8,Electronics,Apple,New,999.99,3,Brand new Apple iPhone 13 Pro with 256GB storage,False
8,9,Clothing,Adidas,used,75.00,4,Brand new Adidas UltraBoost running shoes,True
9,10,Furniture,Article,New,1450.00,5,Stylish new Article Avasan dining table with a...,True

In [38]:
df.product_id.value_counts()

product_id
212     2
816     2
598     2
505     2
693     2
       ..
342     1
343     1
344     1
345     1
1000    1
Name: count, Length: 995, dtype: int64

In [39]:
df.to_csv('../data/updated_product_listings.csv', index=False)