In [8]:
import numpy as np
import pandas as pd
from pandas import DataFrame
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.optimizers import Adam
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score, mean_absolute_percentage_error
from sklearn.model_selection import train_test_split

In [9]:
def preprocess_data(X_train, X_test):
    """Scales the features using StandardScaler."""
    scaler = StandardScaler()
    X_train_scaled = scaler.fit_transform(X_train)
    X_test_scaled = scaler.transform(X_test)
    return X_train_scaled, X_test_scaled, scaler

In [10]:
def build_model(input_dim):
    """Creates a Neural Network model for regression."""
    model = Sequential([
        Dense(128, activation='relu', input_shape=(input_dim,)),  # Input Layer
        Dropout(0.2),  # Regularization
        Dense(64, activation='relu'),
        Dropout(0.2),
        Dense(32, activation='relu'),
        Dense(1)  # Output Layer (Regression)
    ])
    
    # Compile the model
    model.compile(optimizer=Adam(learning_rate=0.001), loss='mse', metrics=['mae'])
    
    return model

In [11]:
def train_model(model, X_train, y_train, X_test, y_test, epochs=100, batch_size=32):
    """Trains the Neural Network."""
    history = model.fit(X_train, y_train, 
                        validation_data=(X_test, y_test),
                        epochs=epochs, batch_size=batch_size, verbose=2)
    return history

In [12]:
def evaluate_model(model, X_test, y_test):
    """Evaluates the trained model using regression metrics."""
    y_pred = model.predict(X_test).flatten()

    # Compute metrics
    mae = mean_absolute_error(y_test, y_pred)
    mse = mean_squared_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)
    mape = mean_absolute_percentage_error(y_test, y_pred)

    print(f"MAE: {mae:.2f}")
    print(f"MSE: {mse:.2f}")
    print(f"RÂ² Score: {r2:.2f}")
    print(f"MAPE: {mape:.2f}")

    return {"MAE": mae, "MSE": mse, "R2": r2, "MAPE": mape}

In [13]:
def split_and_prepare_data(df: DataFrame, target_column: str, test_size: float = 0.2, random_state: int = 1):

    if not isinstance(df, pd.DataFrame):
        raise TypeError("Input data must be a pandas DataFrame.")

    if target_column not in df.columns:
        raise ValueError(
            f"The target column '{target_column}' is not in the DataFrame."
        )

    # Split the dataset into training and testing sets
    X_train, X_test = train_test_split(
        df, test_size=test_size, random_state=random_state
    )

    # Reset the index for both splits
    X_train = X_train.reset_index(drop=True)
    X_test = X_test.reset_index(drop=True)

    # Extract target values
    y_train = X_train[target_column].values
    y_test = X_test[target_column].values

    # Remove the target column from features
    X_train = X_train.drop(columns=[target_column])
    X_test = X_test.drop(columns=[target_column])

    return X_train, X_test, y_train, y_test

In [16]:
data = pd.read_csv('../data/labeled_data/synthetic_product_listings_gpt_4o_mini_encoded_labeled.csv')
data.head()

   category  brand  condition  seller_reputation  log_price
0         0      0          1                  4   4.330733
1         1      1          1                  2   7.170881
2         2     10          1                  5   7.090910
3         2      8          0                  4   5.860786
4         2     32          0                  3   8.071219

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 995 entries, 0 to 994
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   category           995 non-null    int64
 1   brand              995 non-null    int64
 2   condition          995 non-null    int64
 3   seller_reputation  995 non-null    int64
 4   log_price          995 non-null    float64
dtypes: float64(1), int64(4)
memory usage: 39.0 KB

In [19]:
X_train, X_test, y_train, y_test = split_and_prepare_data(data, target_column="log_price", test_size=0.2, random_state=1)

In [20]:
# Preprocess data
X_train_scaled, X_test_scaled, scaler = preprocess_data(X_train, X_test)

# Build model
model = build_model(input_dim=X_train.shape[1])

# Train model
train_model(model, X_train_scaled, y_train, X_test_scaled, y_test, epochs=100, batch_size=32)

# Evaluate model
evaluate_model(model, X_test_scaled, y_test)

/opt/anaconda3/envs/synthetic/lib/python3.11/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)
2025-02-24 17:45:39.427115: I metal_plugin/src/device/metal_device.cc:1154] Metal device set to: Apple M1 Pro
2025-02-24 17:45:39.427350: I metal_plugin/src/device/metal_device.cc:296] systemMemory: 16.00 GB
2025-02-24 17:45:39.427366: I metal_plugin/src/device/metal_device.cc:313] maxCacheSize: 5.33 GB
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
I0000 00:00:1740408339.447081 5515551 pluggable_device_factory.cc:305] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
I0000 00:00:1740408339.447672 5515551 pluggable_device_factory.cc:271] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)

Epoch 1/100

2025-02-24 17:45:40.949088: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:117] Plugin optimizer for device_type GPU is enabled.

25/25 - 12s - 481ms/step - loss: 36.4648 - mae: 5.8868 - val_loss: 29.5139 - val_mae: 5.3586
Epoch 2/100
25/25 - 1s - 23ms/step - loss: 26.0896 - mae: 4.9297 - val_loss: 17.7523 - val_mae: 4.1068
Epoch 3/100
25/25 - 1s - 24ms/step - loss: 14.4628 - mae: 3.4337 - val_loss: 5.5879 - val_mae: 2.2612
Epoch 4/100
25/25 - 1s - 23ms/step - loss: 7.5898 - mae: 2.2496 - val_loss: 0.8347 - val_mae: 0.7222
Epoch 5/100
25/25 - 1s - 21ms/step - loss: 6.2572 - mae: 1.9130 - val_loss: 0.5657 - val_mae: 0.6163
Epoch 6/100
25/25 - 1s - 21ms/step - loss: 4.9454 - mae: 1.7409 - val_loss: 0.6983 - val_mae: 0.7212
Epoch 7/100
25/25 - 1s - 21ms/step - loss: 4.5869 - mae: 1.6563 - val_loss: 0.9325 - val_mae: 0.7696
Epoch 8/100
25/25 - 1s - 21ms/step - loss: 3.4245 - mae: 1.4564 - val_loss: 0.4615 - val_mae: 0.5143
Epoch 9/100
25/25 - 1s - 21ms/step - loss: 2.9790 - mae: 1.3478 - val_loss: 0.4660 - val_mae: 0.5099
Epoch 10/100
25/25 - 1s - 22ms/step - loss: 2.6505 - mae: 1.2900 - val_loss: 0.4563 - val_mae: 0.5295
Epoch 11/100
25/25 - 1s - 21ms/step - loss: 2.7259 - mae: 1.3131 - val_loss: 0.4803 - val_mae: 0.5571
Epoch 12/100
25/25 - 1s - 23ms/step - loss: 2.4607 - mae: 1.2240 - val_loss: 0.4587 - val_mae: 0.5283
Epoch 13/100
25/25 - 1s - 22ms/step - loss: 2.2593 - mae: 1.2027 - val_loss: 0.4925 - val_mae: 0.5309
Epoch 14/100
25/25 - 1s - 29ms/step - loss: 2.2456 - mae: 1.2030 - val_loss: 0.4927 - val_mae: 0.5701
Epoch 15/100
25/25 - 1s - 20ms/step - loss: 2.0604 - mae: 1.1489 - val_loss: 0.4819 - val_mae: 0.5221
Epoch 16/100
25/25 - 1s - 20ms/step - loss: 2.1425 - mae: 1.1716 - val_loss: 0.4509 - val_mae: 0.5093
Epoch 17/100
25/25 - 1s - 22ms/step - loss: 2.0204 - mae: 1.1291 - val_loss: 0.4569 - val_mae: 0.5560
Epoch 18/100
25/25 - 1s - 20ms/step - loss: 1.8398 - mae: 1.1056 - val_loss: 0.6363 - val_mae: 0.7138
Epoch 19/100
25/25 - 1s - 20ms/step - loss: 2.2304 - mae: 1.1938 - val_loss: 0.8365 - val_mae: 0.7689
Epoch 20/100
25/25 - 1s - 21ms/step - loss: 1.9966 - mae: 1.1524 - val_loss: 0.4640 - val_mae: 0.5111
Epoch 21/100
25/25 - 0s - 20ms/step - loss: 1.8679 - mae: 1.1029 - val_loss: 0.5844 - val_mae: 0.5765
Epoch 22/100
25/25 - 0s - 20ms/step - loss: 1.8555 - mae: 1.0887 - val_loss: 0.4402 - val_mae: 0.5128
Epoch 23/100
25/25 - 1s - 20ms/step - loss: 1.9927 - mae: 1.1326 - val_loss: 0.4346 - val_mae: 0.5395
Epoch 24/100
25/25 - 0s - 20ms/step - loss: 1.7802 - mae: 1.0663 - val_loss: 0.4480 - val_mae: 0.5190
Epoch 25/100
25/25 - 0s - 20ms/step - loss: 1.8019 - mae: 1.0586 - val_loss: 0.4689 - val_mae: 0.5216
Epoch 26/100
25/25 - 1s - 20ms/step - loss: 1.6993 - mae: 1.0492 - val_loss: 0.5031 - val_mae: 0.5533
Epoch 27/100
25/25 - 0s - 20ms/step - loss: 1.9992 - mae: 1.1293 - val_loss: 0.4652 - val_mae: 0.5329
Epoch 28/100
25/25 - 0s - 20ms/step - loss: 1.6984 - mae: 1.0404 - val_loss: 0.7972 - val_mae: 0.7730
Epoch 29/100
25/25 - 0s - 20ms/step - loss: 1.7105 - mae: 1.0416 - val_loss: 0.4938 - val_mae: 0.5845
Epoch 30/100
25/25 - 0s - 20ms/step - loss: 1.8976 - mae: 1.1275 - val_loss: 0.6641 - val_mae: 0.6446
Epoch 31/100
25/25 - 0s - 20ms/step - loss: 1.8979 - mae: 1.0947 - val_loss: 0.4644 - val_mae: 0.5574
Epoch 32/100
25/25 - 1s - 20ms/step - loss: 1.6546 - mae: 1.0391 - val_loss: 0.5330 - val_mae: 0.5716
Epoch 33/100
25/25 - 0s - 20ms/step - loss: 1.8058 - mae: 1.0807 - val_loss: 0.6329 - val_mae: 0.6364
Epoch 34/100
25/25 - 1s - 20ms/step - loss: 1.8098 - mae: 1.0851 - val_loss: 0.6944 - val_mae: 0.7033
Epoch 35/100
25/25 - 1s - 20ms/step - loss: 1.6299 - mae: 1.0362 - val_loss: 0.4123 - val_mae: 0.5307
Epoch 36/100
25/25 - 0s - 20ms/step - loss: 2.0969 - mae: 1.1628 - val_loss: 0.7936 - val_mae: 0.7110
Epoch 37/100
25/25 - 0s - 20ms/step - loss: 1.8233 - mae: 1.0702 - val_loss: 0.5454 - val_mae: 0.5689
Epoch 38/100
25/25 - 0s - 20ms/step - loss: 1.9110 - mae: 1.1079 - val_loss: 0.7698 - val_mae: 0.7226
Epoch 39/100
25/25 - 1s - 20ms/step - loss: 2.0450 - mae: 1.1482 - val_loss: 0.8858 - val_mae: 0.8117
Epoch 40/100
25/25 - 1s - 21ms/step - loss: 1.9453 - mae: 1.1276 - val_loss: 0.4537 - val_mae: 0.5363
Epoch 41/100
25/25 - 1s - 22ms/step - loss: 2.4323 - mae: 1.2660 - val_loss: 0.5679 - val_mae: 0.5840
Epoch 42/100
25/25 - 1s - 21ms/step - loss: 1.9761 - mae: 1.1477 - val_loss: 1.1178 - val_mae: 0.9635
Epoch 43/100
25/25 - 1s - 23ms/step - loss: 1.7928 - mae: 1.0695 - val_loss: 3.3855 - val_mae: 1.6048
Epoch 44/100
25/25 - 1s - 21ms/step - loss: 1.8130 - mae: 1.0988 - val_loss: 1.3104 - val_mae: 1.0377
Epoch 45/100
25/25 - 1s - 20ms/step - loss: 2.3083 - mae: 1.2403 - val_loss: 5.2712 - val_mae: 2.0441
Epoch 46/100
25/25 - 0s - 20ms/step - loss: 3.6549 - mae: 1.5358 - val_loss: 0.7656 - val_mae: 0.7654
Epoch 47/100
25/25 - 1s - 21ms/step - loss: 2.5983 - mae: 1.2964 - val_loss: 0.8889 - val_mae: 0.7910
Epoch 48/100
25/25 - 1s - 20ms/step - loss: 2.5923 - mae: 1.2889 - val_loss: 1.1957 - val_mae: 0.9737
Epoch 49/100
25/25 - 1s - 20ms/step - loss: 3.0307 - mae: 1.4160 - val_loss: 0.9117 - val_mae: 0.8174
Epoch 50/100
25/25 - 0s - 20ms/step - loss: 2.7861 - mae: 1.3288 - val_loss: 1.5697 - val_mae: 1.1658
Epoch 51/100
25/25 - 1s - 20ms/step - loss: 2.3616 - mae: 1.2265 - val_loss: 1.0818 - val_mae: 0.9329
Epoch 52/100
25/25 - 0s - 20ms/step - loss: 2.6577 - mae: 1.3282 - val_loss: 0.6351 - val_mae: 0.7124
Epoch 53/100
25/25 - 1s - 20ms/step - loss: 1.9537 - mae: 1.1071 - val_loss: 0.8335 - val_mae: 0.8100
Epoch 54/100
25/25 - 1s - 20ms/step - loss: 2.6306 - mae: 1.2850 - val_loss: 1.6977 - val_mae: 1.1799
Epoch 55/100
25/25 - 1s - 20ms/step - loss: 4.5233 - mae: 1.6916 - val_loss: 5.9243 - val_mae: 2.1122
Epoch 56/100
25/25 - 1s - 20ms/step - loss: 7.9020 - mae: 2.2105 - val_loss: 9.1614 - val_mae: 2.6775
Epoch 57/100
25/25 - 1s - 20ms/step - loss: 5.5742 - mae: 1.9189 - val_loss: 4.7546 - val_mae: 1.8867
Epoch 58/100
25/25 - 1s - 20ms/step - loss: 5.2356 - mae: 1.8112 - val_loss: 0.7199 - val_mae: 0.7015
Epoch 59/100
25/25 - 1s - 20ms/step - loss: 3.7078 - mae: 1.5594 - val_loss: 4.7117 - val_mae: 2.1124
Epoch 60/100
25/25 - 1s - 20ms/step - loss: 3.7589 - mae: 1.5564 - val_loss: 0.4649 - val_mae: 0.4985
Epoch 61/100
25/25 - 1s - 22ms/step - loss: 2.5466 - mae: 1.2764 - val_loss: 0.5935 - val_mae: 0.6619
Epoch 62/100
25/25 - 1s - 22ms/step - loss: 2.5037 - mae: 1.2887 - val_loss: 0.4755 - val_mae: 0.5251
Epoch 63/100
25/25 - 1s - 22ms/step - loss: 4.7117 - mae: 1.6977 - val_loss: 4.0155 - val_mae: 1.7749
Epoch 64/100
25/25 - 1s - 20ms/step - loss: 6.0030 - mae: 1.9175 - val_loss: 1.4073 - val_mae: 1.0233
Epoch 65/100
25/25 - 1s - 22ms/step - loss: 3.1190 - mae: 1.3700 - val_loss: 0.7291 - val_mae: 0.7230
Epoch 66/100
25/25 - 1s - 20ms/step - loss: 5.5396 - mae: 1.8792 - val_loss: 1.6927 - val_mae: 1.1537
Epoch 67/100
25/25 - 1s - 20ms/step - loss: 10.2695 - mae: 2.4928 - val_loss: 2.6134 - val_mae: 1.4022
Epoch 68/100
25/25 - 1s - 21ms/step - loss: 24.0760 - mae: 3.8806 - val_loss: 3.6565 - val_mae: 1.5392
Epoch 69/100
25/25 - 1s - 21ms/step - loss: 5.7296 - mae: 1.9318 - val_loss: 2.0655 - val_mae: 1.3280
Epoch 70/100
25/25 - 1s - 20ms/step - loss: 5.2545 - mae: 1.8435 - val_loss: 0.5362 - val_mae: 0.6181
Epoch 71/100
25/25 - 1s - 20ms/step - loss: 5.1796 - mae: 1.7947 - val_loss: 1.1438 - val_mae: 0.9689
Epoch 72/100
25/25 - 1s - 20ms/step - loss: 2.2225 - mae: 1.2176 - val_loss: 0.4169 - val_mae: 0.5007
Epoch 73/100
25/25 - 1s - 20ms/step - loss: 1.7190 - mae: 1.0538 - val_loss: 0.7713 - val_mae: 0.7436
Epoch 74/100
25/25 - 0s - 20ms/step - loss: 2.1344 - mae: 1.1888 - val_loss: 1.8059 - val_mae: 1.1455
Epoch 75/100
25/25 - 0s - 20ms/step - loss: 7.6556 - mae: 2.1963 - val_loss: 2.1745 - val_mae: 1.4273
Epoch 76/100
25/25 - 0s - 20ms/step - loss: 6.0218 - mae: 2.0020 - val_loss: 6.8320 - val_mae: 2.3655
Epoch 77/100
25/25 - 1s - 20ms/step - loss: 5.8021 - mae: 1.9512 - val_loss: 4.6537 - val_mae: 2.0942
Epoch 78/100
25/25 - 1s - 20ms/step - loss: 3.4098 - mae: 1.5203 - val_loss: 4.8420 - val_mae: 1.9544
Epoch 79/100
25/25 - 0s - 20ms/step - loss: 5.0790 - mae: 1.7882 - val_loss: 0.4843 - val_mae: 0.5626
Epoch 80/100
25/25 - 1s - 20ms/step - loss: 5.5290 - mae: 1.8446 - val_loss: 2.4278 - val_mae: 1.3597
Epoch 81/100
25/25 - 0s - 20ms/step - loss: 6.1768 - mae: 2.0157 - val_loss: 0.4762 - val_mae: 0.5869
Epoch 82/100
25/25 - 1s - 21ms/step - loss: 3.9029 - mae: 1.5645 - val_loss: 13.2779 - val_mae: 3.2735
Epoch 83/100
25/25 - 1s - 20ms/step - loss: 7.8431 - mae: 2.2229 - val_loss: 1.7940 - val_mae: 1.2247
Epoch 84/100
25/25 - 0s - 20ms/step - loss: 4.3911 - mae: 1.6240 - val_loss: 1.3704 - val_mae: 1.0424
Epoch 85/100
25/25 - 1s - 20ms/step - loss: 6.3255 - mae: 1.9722 - val_loss: 3.3098 - val_mae: 1.7055
Epoch 86/100
25/25 - 1s - 20ms/step - loss: 13.8940 - mae: 2.9156 - val_loss: 2.3272 - val_mae: 1.4387
Epoch 87/100
25/25 - 1s - 20ms/step - loss: 34.6338 - mae: 4.3029 - val_loss: 67.6135 - val_mae: 7.5900
Epoch 88/100
25/25 - 1s - 20ms/step - loss: 48.6255 - mae: 5.3148 - val_loss: 26.3658 - val_mae: 4.5082
Epoch 89/100
25/25 - 1s - 22ms/step - loss: 31.7984 - mae: 4.2930 - val_loss: 23.0343 - val_mae: 4.5038
Epoch 90/100
25/25 - 1s - 20ms/step - loss: 9.4205 - mae: 2.3734 - val_loss: 3.6760 - val_mae: 1.6635
Epoch 91/100
25/25 - 0s - 20ms/step - loss: 3.5593 - mae: 1.5014 - val_loss: 2.4045 - val_mae: 1.5006
Epoch 92/100
25/25 - 1s - 21ms/step - loss: 2.0839 - mae: 1.2006 - val_loss: 0.4678 - val_mae: 0.5503
Epoch 93/100
25/25 - 1s - 20ms/step - loss: 2.1712 - mae: 1.2002 - val_loss: 4.2950 - val_mae: 2.0151
Epoch 94/100
25/25 - 1s - 20ms/step - loss: 2.3980 - mae: 1.2394 - val_loss: 0.4466 - val_mae: 0.5216
Epoch 95/100
25/25 - 1s - 20ms/step - loss: 2.0653 - mae: 1.1690 - val_loss: 1.0100 - val_mae: 0.8542
Epoch 96/100
25/25 - 1s - 20ms/step - loss: 1.6357 - mae: 1.0636 - val_loss: 1.1016 - val_mae: 0.8622
Epoch 97/100
25/25 - 0s - 20ms/step - loss: 3.8895 - mae: 1.5327 - val_loss: 1.0888 - val_mae: 0.9234
Epoch 98/100
25/25 - 1s - 20ms/step - loss: 6.0198 - mae: 1.9941 - val_loss: 3.6130 - val_mae: 1.6805
Epoch 99/100
25/25 - 1s - 20ms/step - loss: 7.0549 - mae: 2.1598 - val_loss: 2.3573 - val_mae: 1.4842
Epoch 100/100
25/25 - 0s - 20ms/step - loss: 58.7215 - mae: 5.6975 - val_loss: 229.7814 - val_mae: 14.1624
7/7 ââââââââââââââââââââ 0s 12ms/step
MAE: 14.16
MSE: 229.78
RÂ² Score: -124.35
MAPE: 2.51

{'MAE': 14.162374861778252,
 'MSE': 229.78141433091344,
 'R2': -124.3507520071642,
 'MAPE': 2.5143238244268686}

In [18]:
import keras_tuner as kt

def build_model_with_tuning(hp):
    """Create a neural network model with hyperparameter tuning."""
    model = Sequential()

    # Tunable parameters for layers
    model.add(Dense(
        hp.Int('units1', min_value=32, max_value=512, step=32),
        activation='relu', input_shape=(X_train.shape[1],)
    ))

    model.add(Dropout(hp.Float('dropout1', min_value=0.1, max_value=0.5, step=0.1)))
    
    model.add(Dense(
        hp.Int('units2', min_value=32, max_value=512, step=32),
        activation='relu'
    ))

    model.add(Dropout(hp.Float('dropout2', min_value=0.1, max_value=0.5, step=0.1)))
    
    model.add(Dense(1))  # Output layer

    # Compile model with tunable learning rate
    model.compile(
        optimizer=Adam(learning_rate=hp.Float('learning_rate', min_value=1e-5, max_value=1e-2, sampling='LOG')),
        loss='mse', metrics=['mae']
    )

    return model

In [19]:
# Initialize the tuner
tuner = kt.Hyperband(
    build_model_with_tuning,
    objective='val_loss',
    max_epochs=10,
    factor=3,
    directory='my_dir',
    project_name='price_prediction'
)

# Search for the best hyperparameters
tuner.search(X_train_scaled, y_train, epochs=10, validation_data=(X_test_scaled, y_test))

# Get the best model
best_model = tuner.get_best_models(num_models=1)[0]

# Evaluate the best model
evaluate_model(best_model, X_test_scaled, y_test)

Trial 30 Complete [00h 00m 16s]
val_loss: 1719676.0

Best val_loss So Far: 325861.0
Total elapsed time: 00h 06m 13s
7/7 ââââââââââââââââââââ 0s 13ms/step
MAE: 391.88
MSE: 325861.01
RÂ² Score: 0.61
MAPE: 0.71

{'MAE': 391.87534406038975,
 'MSE': 325861.00997261406,
 'R2': 0.6143021499043362,
 'MAPE': 0.7051358303896563}

In [3]:
import pandas as pd
data = pd.read_csv('../data/processed_data/synthetic_product_listings_gpt_4o_mini.csv')
data.head()

,product_id,category,brand,condition,price,seller_reputation,description,suspected_fraud,log_price
0,2,Clothing,Adidas,used,75.00,4,Brand new Adidas running shorts,True,4.330733
1,3,Electronics,Apple,used,1299.99,2,Brand new Apple iPhone 14 Pro with 256GB storage,False,7.170881
2,4,Furniture,Joybird,used,1200.00,5,Stylish Joybird mid-century modern sofa with p...,False,7.090910
3,5,Furniture,IKEA,New,350.00,4,Brand new IKEA Hemnes dresser with 6 drawers.,False,5.860786
4,6,Furniture,West Elm,New,3200.00,3,Brand new West Elm mid-century dining table in...,True,8.071219

In [2]:
import pandas as pd
data = pd.read_csv('../data/labeled_data/synthetic_product_listings_gpt_4o_mini_encoded_labeled.csv')
data.head()

   category  brand  condition  seller_reputation  log_price
0         0      0          1                  4   4.330733
1         1      1          1                  2   7.170881
2         2     10          1                  5   7.090910
3         2      8          0                  4   5.860786
4         2     32          0                  3   8.071219

In [4]:
import numpy as np

In [7]:
n = 75
np.log1p(n)

np.float64(4.330733340286331)

In [ ]:
self.model = xgb.XGBRegressor(
            objective="reg:squarederror",
            max_depth=9,
            min_child_weight=5,
            learning_rate=0.2,
            colsample_bytree=1.0,
            gamma=0.1,
            n_estimators=100,
            reg_alpha=0.1,
            reg_lambda=0,
            subsample=1.0,
            random_state=1,
        )