In [15]:
import pandas as pd
import random
import numpy as np

In [5]:
df =  pd.read_csv('../data/updated_product_listings.csv')

In [6]:
df.head()

,product_id,category,brand,condition,price,seller_reputation,description,suspected_fraud
0,2,Clothing,Adidas,New,75.00,4,Brand new Adidas running shorts,True
1,3,Electronics,Apple,New,1299.99,2,Brand new Apple iPhone 14 Pro with 256GB storage,False
2,4,Furniture,Joybird,used,1200.00,5,Stylish Joybird mid-century modern sofa with p...,False
3,5,Furniture,IKEA,used,350.00,4,Brand new IKEA Hemnes dresser with 6 drawers.,False
4,6,Furniture,West Elm,New,3200.00,3,Brand new West Elm mid-century dining table in...,True

In [12]:
df.shape

(1000, 8)

In [13]:
df.duplicated().sum()

0

In [14]:
df.product_id.duplicated().sum()

5

In [16]:
existing_ids = set(df['product_id'])

# Identify duplicates (excluding the first occurrence)
duplicate_mask = df.duplicated(subset=['product_id'], keep='first')

# Number of replacements needed
num_replacements = duplicate_mask.sum()

# Generate unique random numbers between 1 and 1000 that are not in existing_ids
new_values = set()
while len(new_values) < num_replacements:
    new_val = np.random.randint(1, 1001)
    if new_val not in existing_ids | new_values:
        new_values.add(new_val)

# Replace duplicates with unique random values
df.loc[duplicate_mask, 'product_id'] = list(new_values)

# Display updated DataFrame
print(df)

     product_id     category     brand condition    price  seller_reputation  \
0             2     Clothing    Adidas      used    75.00                  4
1             3  Electronics     Apple      used  1299.99                  2
2             4    Furniture   Joybird      used  1200.00                  5
3             5    Furniture      IKEA       New   350.00                  4
4             6    Furniture  West Elm       New  3200.00                  3
..          ...          ...       ...       ...      ...                ...
995         996    Furniture  West Elm      used  1750.00                  3
996         997  Electronics        LG       New  1200.00                  1
997         998     Clothing    Adidas       New    75.00                  5
998         999  Electronics      Dell       New  1200.00                  3
999        1000    Furniture      IKEA      used   350.00                  3

                                           description  suspected_fraud
0                      Brand new Adidas running shorts             True
1     Brand new Apple iPhone 14 Pro with 256GB storage            False
2    Stylish Joybird mid-century modern sofa with p...            False
3        Brand new IKEA Hemnes dresser with 6 drawers.            False
4    Brand new West Elm mid-century dining table in...             True
..                                                 ...              ...
995  Brand new West Elm mid-century style dining ta...            False
996    Brand new LG OLED55CXPUA Alexa Built-In OLED TV            False
997  Brand new Adidas Ultraboost running shoes, per...             True
998  Brand new Dell XPS 13 laptop with 16GB RAM and...            False
999       Brand new IKEA Hemnes dresser with 6 drawers            False

[1000 rows x 8 columns]

In [17]:
df.product_id.duplicated().sum()

0

In [18]:
df.to_csv('../data/updated_product_listings_id.csv', index=False)