In [4]:
import csv
import random
from datetime import datetime, timedelta


# Function to generate a random datetime within the past year,,,
def random_date():
    start_date = datetime.now() - timedelta(days=365)
    end_date = datetime.now()
    return start_date + (end_date - start_date) * random.random()


# Generating the data,,,
data = []
for _ in range(1000):
    user_id = random.randint(1, 1000)
    product_id = random.randint(1, 500)
    rating = random.randint(1, 5)
    timestamp = random_date().strftime("%Y-%m-%d %H:%M:%S")
    data.append([user_id, product_id, rating, timestamp])

# Writing the data to a CSV file,,,
with open("synthetic_data.csv", "w", newline="") as file:
    writer = csv.writer(file)
    writer.writerows(data)

In [8]:
import pandas as pd

df = pd.read_csv("synthetic_data.csv", header=None)
df.columns = ["user_id", "product_id", "rating", "timestamp"]
df.to_csv("synthetic_data.csv", index=False)
df.head()

   user_id  product_id  rating            timestamp
0  user_id  product_id  rating            timestamp
1      624         355       3  2024-03-15 04:30:54
2       81         149       4  2024-06-12 10:14:09
3       35         387       4  2024-09-29 04:59:33
4       33         309       4  2024-08-12 07:52:13

In [10]:
df = df.drop(index=df.index[0])

In [11]:
df.head()

  user_id product_id rating            timestamp
1     624        355      3  2024-03-15 04:30:54
2      81        149      4  2024-06-12 10:14:09
3      35        387      4  2024-09-29 04:59:33
4      33        309      4  2024-08-12 07:52:13
5     378        292      3  2024-10-14 13:52:14

In [12]:
df.to_csv("synthetic_data.csv", index=False)

In [15]:
d = pd.read_csv("user_interactions.csv")
d.head(10)

   user_id  product_id  rating            timestamp
0      624         355       3  2024-03-15 04:30:54
1       81         149       4  2024-06-12 10:14:09
2       35         387       4  2024-09-29 04:59:33
3       33         309       4  2024-08-12 07:52:13
4      378         292       3  2024-10-14 13:52:14
5      646          53       5  2025-01-26 03:50:56
6      368         211       5  2024-06-15 14:39:44
7      196         438       1  2024-07-31 16:29:42
8      622         200       3  2024-11-06 12:54:37
9      808         454       5  2024-07-12 07:50:49